---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import { useTranslations } from '~/i18n/translator';

const locale = Astro.currentLocale ?? 'fr'
const {t} = useTranslations(locale);

const metadata = {
  title: locale === 'en' ? 'Free discovery call': 'Appel découverte gratuit',
  description: locale === 'en' ? 'Book a free discovery call with David Barbier to discuss your project.' : 'Réservez un appel découverte gratuit avec David Barbier pour discuter de votre projet.',
};
const path = locale === 'en' ? 'davidbarbier/introduction' : 'davidbarbier/fr-introduction'
---

<Layout metadata={metadata}>
    <!-- HeroText Widget ******************* -->

    <HeroText
    tagline="Call"
    title={t('call.title')}
  />

  <div class="tidycal-embed" data-path={path}></div>
  <script src="https://assets.tidycal.com/js/embed.js" async></script>

</Layout>
