---
import { Icon } from 'astro-icon/components';
import type { Content } from '~/types';

const {
  title = await Astro.slots.render('title'),
  items = await Astro.slots.render('items'),
  classes = {},
} = Astro.props as Content;
---

<div class="py-12 md:py-16 lg:py-20">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="text-2xl text-center font-bold tracking-tight sm:text-3xl sm:leading-none group font-heading mb-2">{title}</h2>
    <div class="mx-auto mt-10 grid max-w-lg grid-cols-3 items-center gap-y-10 sm:max-w-xl sm:grid-cols-6 lg:max-w-none">
      {items.map((item) => (
        <div class="flex flex-col items-center">
          <Icon name={item.icon} title={item.title} set:text="test" class="text-3xl lg:text-5xl font-extralight" />
          <p>{item.title}</p>
        </div>
      ))}
    </div>
  </div>
</div>
