---
import {getLocaleFromUrl, useTranslations} from "../i18n/translator";
import { getLocalizedPermalink } from "~/utils/permalinks";
import Layout from '../layouts/PageLayout.astro';
import HeroImage from '../assets/images/DSCF7551-3.jpg'
import Fidenza2 from '../assets/images/000002fidenzaPP.png'
import Fidenza117 from '../assets/images/000117fidenzaPP.png'
import Fidenza262 from '../assets/images/000262fidenzaPP.png'
import MakerTeleport from '../assets/images/maker-teleport-mock.png'
import Matchings from '../assets/images/agilytic.jpeg'
import Hero2 from '../components/widgets/Hero2.astro';
import CallToAction from '../components/widgets/CallToAction.astro';
import Content from '../components/widgets/Content.astro';
import Features2 from "../components/widgets/Features2.astro";
import BlogLatestPosts from "../components/widgets/BlogLatestPosts.astro";
import Logos from "../components/widgets/Logos.astro";

const locale = getLocaleFromUrl(Astro.url);
const { t, tList } = useTranslations(locale);
const metadata = {
  title: 'David Barbier - Fullstack Developer',
  description: 'Création de sites internet, d\'applications web et mobiles, de logiciels et d\'applications métiers. A Ajaccio, en Corse et partout en France.',
  lang: locale,
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <!--hero-->
  <Hero2
    tagline="David Barbier"
    callToAction={{ text: t('portfolio.bookCall'), href: getLocalizedPermalink(locale, '/call/'), icon: 'tabler:phone' }}
    callToAction2={{ text: 'Contact', href: getLocalizedPermalink(locale, '/contact/')}}
    image={{
      src: HeroImage,
      alt: 'Hero Image',
    }}
  >
    <Fragment slot="title">
      <span class="text-transparent bg-gradient-to-r from-emerald-800 to-emerald-600 bg-clip-text dark:text-white highlight">{t("portfolio.heroSide.accent")}</span><br />
      {t('portfolio.heroSide.title')}
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
      </span>
      {t('portfolio.heroSide.subtitle')}
    </Fragment>
  </Hero2>

  <!--services-->
  
  <Features2
    title={t('portfolio.services.title')}
    subtitle={t('portfolio.services.subtitle')}
    columns={3}
    items={[
      {
        title: tList('portfolio.services.servicesItems')[0].title,
        description: tList('portfolio.services.servicesItems')[0].description,
        servicesItems: tList('portfolio.services.servicesItems')[0].items,
        price: tList('portfolio.services.servicesItems')[0].price,
        image: Fidenza117,
        icon: 'tabler:devices',
        // callToAction: {
        //   text: tList('portfolio.services.servicesItems')[0].callToAction,
        //   href: '',
        //   icon: 'tabler:chevron-right',
        // },
      },
      {
        title: tList('portfolio.services.servicesItems')[1].title,
        description: tList('portfolio.services.servicesItems')[1].description,
        servicesItems: tList('portfolio.services.servicesItems')[1].items,
        price: tList('portfolio.services.servicesItems')[1].price,
        image: Fidenza262,
        icon: 'tabler:wand',
        // callToAction: {
        //   text: tList('portfolio.services.servicesItems')[0].callToAction,
        //   href: '',
        //   icon: 'tabler:chevron-right',
        // },
      },
      {
        title: tList('portfolio.services.servicesItems')[2].title,
        description: tList('portfolio.services.servicesItems')[2].description,
        servicesItems: tList('portfolio.services.servicesItems')[2].items,
        price: tList('portfolio.services.servicesItems')[2].price,
        image: Fidenza2,
        icon: 'tabler:tool',
        // callToAction: {
        //   text: tList('portfolio.services.servicesItems')[0].callToAction,
        //   href: '',
        //   icon: 'tabler:chevron-right',
        // },
      }
    ]}
  />
  
  <!-- case study -->
  <Content
    isReversed
    tagline={t('portfolio.caseStudies1.tagline')}
    title={t('portfolio.caseStudies1.title')}
    items={tList('portfolio.caseStudies1.items')}
    cta={{
      text: t('portfolio.caseStudies1.callToAction'),
      href: getLocalizedPermalink(locale, "/maker-teleport-ui"),
      icon: "tabler:chevron-right",
    }}
    image={{
      src: MakerTeleport,
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-0">
        {t('portfolio.caseStudies1.additionalTitle')}
      </h3>
      {t('portfolio.caseStudies1.additionalDescription')}
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-[#f6fcf7] dark:bg-slate-900"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={tList('portfolio.caseStudies2.items')}
    image={{
      src: Matchings,
      alt: 'Matchings screenshot',
    }}
    cta={{
      text: t('portfolio.caseStudies2.callToAction'),
      href: getLocalizedPermalink(locale, "/matchings"),
      icon: "tabler:chevron-right",
    }}
    endCTA={{
      text: t('portfolio.caseStudies2.endCallToAction'),
      href: getLocalizedPermalink(locale, "/category/portfolio/"),
      icon: "tabler:chevron-right",
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        {t('portfolio.caseStudies2.additionalTitle')}
      </h3>
      {t('portfolio.caseStudies2.additionalDescription')}
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-[#f6fcf7] dark:bg-slate-900"></div>
    </Fragment>
  </Content>

  <!--Tech stack-->
  <Logos
    title={t('portfolio.logos.title')}
    items={[{
      icon: 'tabler:brand-react',
      title: 'React',
    }, {
      icon: 'tabler:brand-typescript',
      title: 'TypeScript',
    }, {
      icon: 'tabler:brand-nodejs',
      title: 'NodeJS',
    }, {
      icon: 'tabler:brand-golang',
      title: 'Golang',
    }, {
      icon: 'tabler:brand-docker',
      title: 'Docker',
    }, {
      icon: 'tabler:brand-nextjs',
      title: 'Next.js',
    }]}
  />
  
  <!-- <BlogLatestPosts
    title={t('index.blogLatestPosts.title')}
    information={t('index.blogLatestPosts.information')}
    linkText={t('index.blogLatestPosts.linkText')}
  /> -->
  
  <CallToAction
    title={t('portfolio.callToAction.title')}
    subtitle={t('portfolio.callToAction.subtitle')}
    callToAction={{
      text: t('portfolio.callToAction.cta'),
      href: getLocalizedPermalink(locale, '/call/'),
      icon: 'tabler:phone',
    }}
  />
</Layout>
