---
import { SITE } from '~/utils/config';
import Image from '~/components/common/Image.astro';
import dblogo from '~/assets/images/DB.png'
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <Image
    class="inline-block w-12 h-12 rounded-full mr-4"
    src={dblogo.src}
    alt="Logo"
    width="48"
    height="48"
  />
  {SITE?.name}
</span>
